@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Symbols+Outlined');
:root {
    --ogstfont-family: 'Nunito Sans', 'Roboto', 'Noto Sans', 'TeX Gyre Heros', 'Arimo', 'Helvetica', 'Arial', sans-serif;
    --ogstprimary: hsl(195, 90%, 32%);
    --ogstprimary-hover: hsl(195, 90%, 42%);
    --ogstpanelbg: rgba(89, 107, 120, 0.125);
    --ogstinactive: hsl(205, 10%, 50%);
    --ogstfg: hsl(205, 30%, 15%);
    --ogstbg: hsl(205, 20%, 94%);
    --ogstred: #c62828;
    --ogstpurple: rgb(148,0,255,0.3);
    --ogstgreen: rgb(87,180,71,0.3);
    --ogstpink: rgba(255,20,189,0.2);
    --ogstbluey: rgb(10,132,255,0.3);
    --ogstyellow: rgb(255,255,81,0.3);
}

@keyframes showoff {
    from {background-color: var(--ogstyellow);}
    to {background-color: var(--ogstbluey);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.rotating {
    animation: spin 1.8s infinite linear;
}

.proofsetaddition {
    font-family: var(--ogstfont-family);
    font-size: 18px;
    background-color: var(--ogstbg);
    color: var(--ogstfg);
}

.commentselectorholder {
    display: inline-block;
    position: absolute;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.commentselector {
    white-space: nowrap;
}

.commentselector div {
    display: inline-block;
}

.commentselector .commenttype {
    padding: 0.2rem;
    border: 1px solid var(--ogstinactive);
    cursor: pointer;
    border-radius: 0.2rem;
    margin: 0.2rem;
}

.commentselector .commenttype.del {
    text-decoration: line-through;
    text-decoration-color: var(--ogstred);
    background-color: var(--ogstpink);
}

.commentselectorholder.noselection .commentselector .commenttype.del {
    display: none;
}

.commentselector .commenttype.ins {
    background-color: var(--ogstbluey);
}

.commentselector .commenttype.comment {
    background-color: var(--ogstyellow);
}

.commentselector .commenttype.query {
    background-color: var(--ogstgreen);
}

body.editormode .commentselector .commenttype.ins,
body.editormode .commentselector .commenttype.del,
body.editormode .commentselector .commenttype.comment {
    display: none;
}

.commentselector .commentselectorcancel {
    cursor: pointer;
    color: var(--ogstred);
    position: relative;
    top: 0.4rem;
}

.commentselector .commenttype:hover,
.commentselector .commenttype.del:hover,
.commentselector .commenttype.ins:hover,
.commentselector .commenttype.comment:hover {
    background-color: var(--ogstbg);
    border: 1px solid var(--ogstprimary-hover);
}

div.htmlcommentmarker {
    display: inline-block;
}

div.innermarker {
    position: relative;
    width: 100%;
    height: 100%;
}

div.commentwidget {
    position: absolute;
    background-color: var(--ogstbg);
    bottom: 100%;
    left: -1rem;
    opacity: 1;
    z-index: 200;
}

div.commentwidget.underneath {
    background-color: var(--ogstbg);
    top: 100%;
    bottom: auto;
}

div.commentwidget.pushleft {
    background-color: var(--ogstbg);
    right: -1rem;
    left: auto;
}

div.commentwidget.minimized,
div.commentwidget.minimized.underneath,
div.commentwidget.minimized.pushleft {
    background-color: transparent;
    left: -1rem;
    top: -0.8rem;
    bottom: auto;
    right: auto;
    z-index: 100;
}

div.commentwidget div.minimizemarker {
    display: none;
    color: var(--ogstprimary);
    cursor: pointer;
}

div.commentwidget.minimized div.minimizemarker {
    display: inline-block;
}

div.commentwidget.minimized div.minimizemarker:hover {
    color: var(--ogstprimary-hover);
}

div.commentwidget.selecting {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
}

div.commentwidget.deletion,
div.commentwidget.insertion,
div.commentwidget.comment,
div.commentwidget.query {
    border-radius: 1rem;
}

div.commentform {
    width: 18rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
}

div.commentwidget.minimized div.commentform {
    display: none;
}

div.commentform label {
    display: block;
}

div.commentformaddressedarea {
    display: none;
}

body.editormode div.commentform div.commentformaddressedarea {
    display: block;
    width: 100%;
    text-align: left;
}

body.editormode div.commentform div.commentformaddressedarea input {
    height: 1.2rem; width: 1.2rem;
    margin: 0;
}

div.commentform label.commentformaddressedlabel {
    padding-left: 0.5rem;
    display: inline;
}

div.commentform textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 4rem;
    font-family: var(--ogstfont-family);
}

div.commentform.query {
    background-color: var(--ogstgreen);
}

div.commentform.comment {
    background-color: var(--ogstyellow);
}

div.commentform.insertion {
    background-color: var(--ogstbluey);
}

div.commentform.deletion {
    background-color: var(--ogstpink);
}

div.commentform.query .ins,
div.commentform.query .del,
div.commentform.comment .del,
div.commentform.comment .response,
div.commentform.comment .ins,
div.commentform.deletion .response,
div.commentform.insertion .del,
div.commentform.insertion .response {
    display: none;
}

div.commentform div.commentformbuttons {
    display: block;
    width: 100%;
    user-select: none;
}

div.commentform div.commentformbuttons div.commentformbutton {
    color: var(--ogstprimary);
    display: inline-block;
    cursor: pointer;
}

div.commentform div.commentformbuttons div.commentformbutton:hover {
    color: var(--ogstprimary-hover);
}

div.commentform div.commentformbuttons div.commentformbutton.disabled:hover,
div.commentform div.commentformbuttons div.commentformbutton.disabled {
    cursor: default;
    color: var(--ogstdisabled);
}

div.commentform.saving div.commentformbuttons div.commentformbutton.savebutton {
    cursor: default;
}

div.commentform.saving div.commentformbuttons div.commentformbutton.savebutton:hover {
    color: var(--ogstprimary);
}

div.commentform div.commentformbuttons div.commentformbutton span.material-symbols-outlined {
    position: relative;
    top: 0.3rem;
}

div.commentform.query div.commentformbuttons div.commentformbutton.removebutton {
    display: none;
}

body.editormode div.commentform.query div.commentformbuttons div.commentformbutton.removebutton {
    display: inline-block;
}


div.commentform div.commentformbuttons div.commentformbutton.removebutton {
    color: var(--ogstred);
}

div.commentform.unsaved div.commentformbuttons div.commentformbutton.minimize {
    display: none;
}

div.commentform div.commentformbuttons div.commentformrightbuttons {
    float: right;
    display: inline-block;
}

div.commentform div.commentformbuttons div.commentformleftbuttons {
    float: left;
    display: inline-block;
}

div.commentform br {
    clear: both;
}

